// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';




.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}




/* Defines the styling for form errors */
.has-error-span {
  color: red;
}





/* Notification styling */

@import './notification';





/* Div which shows when a users javascript is turned off */

.noscript-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 6px;
  color: #fff;
  background: #2452A1;
  text-align: center;
  z-index: 300000;
  margin-bottom: 3em;
  display: block;
}






/* Module button styling */
.module-button {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #2452a1;
  color: white;
  border-radius: 50px;
}

.module-button-inactive {

}

.module-button-responsible {
  border: 3px solid #16B5CA
}







/* Centralise everything by default */
.container {
  text-align: center;
}






/* Inline Help css (https://tutorialzine.com/2014/07/css-inline-help-tips) modified */
/* Controls popups on hover (essentially a custom tooltip) */
.help-tip{
  margin-left: 5px;
  text-align: center;
  background-color: #2452a1;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 8px;
  cursor: default;
}

.help-tip:before{
  content:'?';
  font-weight: bold;
  color:#fff;
}

.help-tip:hover p{
  display:block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
  display: none;
  text-align: left;
  background-color: #1E2021;
  padding: 20px;
  width: 300px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #FFF;
  font-size: 13px;
  line-height: 1.4;
  z-index: 200;
}

.help-tip p:before{ /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width:0;
  height: 0;
  border:6px solid transparent;
  border-bottom-color:#1E2021;
  right:10px;
  top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
  width:100%;
  height:40px;
  content:'';
  position: absolute;
  top:-40px;
  left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
    transform: scale(0.6);
  }

  100% {
    opacity:100%;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:100%; }
}










/* Breadcrumbs */
.breadcrumb {
  min-width: max-content;
  margin-right: 15%;
  margin-left: 15%;
}